.header-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 180px;
  position: fixed;
  top: 0;
  background: var(--Background);
  border-bottom: 1px solid var(--Shape);
  z-index: 9999;
}

.header-container button {
  width: 218px;
  height: 48px;
  border-radius: 30px;
  background: var(--Shape);
  font-size: 16px;
  color: var(--title);
  font-family: Roboto, sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pages {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 510px;
}

.pages a {
  font-size: 16px;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: var(--title);
  border-bottom: 1px solid var(--Yellow);
  padding: 30px 0;
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}

.section1 {
  max-width: 728px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 30px 32px 30px 0;
  border-bottom: 1px solid var(--Shape);
}

.section1 span {
  font-size: 16px;
  color: var(--text);
  font-weight: regular;
  font-family: Roboto, sans-serif;
}

.section1 h1 {
  font-size: 24px;
  color: var(--Title);
  font-weight: bold;
  font-family: Roboto, sans-serif;
  margin-top: 30px;
}

.section1 p {
  font-size: 16px;
  color: var(--Text);
  font-weight: regular;
  font-family: Roboto, sans-serif;
  margin-top: 15px;
  line-height: 25px;
}
